@model LevelViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Level</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">               
                <div class="ibox-title">
                    <h5>Novo</h5>
                </div>
                <form asp-action="Create">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="LevelName" class="control-label"></label>
                                    <input asp-for="LevelName" class="form-control" />
                                    <span asp-validation-for="LevelName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="LevelNameNote" class="control-label"></label>
                                    <input asp-for="LevelNameNote" class="form-control" />
                                    <span asp-validation-for="LevelNameNote" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a asp-action="Index" class="btn btn-default">Voltar</a>
                                <input type="submit" value="Salvar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>